In [1]:
import sqlite3
import json

import pandas as pd

In [2]:
con = sqlite3.connect("scrapa.db")
raw = pd.read_sql('SELECT result FROM scrapa_result WHERE kind="payment"', con)
df = pd.DataFrame.from_records(raw['result'].apply(json.loads))
df.head()

,amount,country,currency,recipient_id,recipient_location,recipient_name,scheme,year
0,4.98,GR,EUR,GR-2014-1,Ανατολικής Μάνης,ΑΝΩΝΥΜΟΣ 1,I.1 Καθεστώς ενιαίας ενίσχυσης – τίτλος III (Ε...,2014
1,2891.40,GR,EUR,GR-2014-2,Ζακύνθου,ΕΥΑΓΓΕΛΟΣ Ν. ΧΑΙΔΑΣ,I.1 Καθεστώς ενιαίας ενίσχυσης – τίτλος III (Ε...,2014
2,928.27,GR,EUR,GR-2014-3,Λέσβου,ΑΝΩΝΥΜΟΣ 3,I.1 Καθεστώς ενιαίας ενίσχυσης – τίτλος III (Ε...,2014
3,182.00,GR,EUR,GR-2014-3,Λέσβου,ΑΝΩΝΥΜΟΣ 3,VI/Δ.1 Μικρά νησιά του Αιγαίου Πελάγους (ΕΓΤΕ),2014
4,1926.85,GR,EUR,GR-2014-4,Πύργου,ΓΕΩΡΓΙΟΣ Ν. ΧΑΤΖΗΓΙΑΝΝΗΣ,I.1 Καθεστώς ενιαίας ενίσχυσης – τίτλος III (Ε...,2014

In [3]:
len(df.groupby('recipient_id'))

1457979

In [4]:
import numpy as np

df['recipient_name'] = df['recipient_name'].apply(lambda x: np.nan if 'ΑΝΩΝΥΜΟΣ ' in x else x)
df.head()

,amount,country,currency,recipient_id,recipient_location,recipient_name,scheme,year
0,4.98,GR,EUR,GR-2014-1,Ανατολικής Μάνης,NaN,I.1 Καθεστώς ενιαίας ενίσχυσης – τίτλος III (Ε...,2014
1,2891.40,GR,EUR,GR-2014-2,Ζακύνθου,ΕΥΑΓΓΕΛΟΣ Ν. ΧΑΙΔΑΣ,I.1 Καθεστώς ενιαίας ενίσχυσης – τίτλος III (Ε...,2014
2,928.27,GR,EUR,GR-2014-3,Λέσβου,NaN,I.1 Καθεστώς ενιαίας ενίσχυσης – τίτλος III (Ε...,2014
3,182.00,GR,EUR,GR-2014-3,Λέσβου,NaN,VI/Δ.1 Μικρά νησιά του Αιγαίου Πελάγους (ΕΓΤΕ),2014
4,1926.85,GR,EUR,GR-2014-4,Πύργου,ΓΕΩΡΓΙΟΣ Ν. ΧΑΤΖΗΓΙΑΝΝΗΣ,I.1 Καθεστώς ενιαίας ενίσχυσης – τίτλος III (Ε...,2014

In [5]:
df.groupby('year')['amount'].sum()

year
2014    2.693262e+09
2015    2.452042e+09
Name: amount, dtype: float64

In [20]:
df.groupby(['recipient_name', 'year'])['amount'].sum().unstack().sort_values(2015, ascending=False).head()

year                                                   2014         2015
recipient_name
ΑΠΟΣΤΟΛΟΥ ΝΙΚΟΛΑΟΣ ΧΡΗΣΤΟΣ                              NaN  28817903.85
ΕΙΔΙΚΗ ΥΠΗΡΕΣΙΑ ΔΗΜΟΣΙΩΝ ΕΡΓΩΝ / Ο.Σ.Υ.Ε        52977277.05   6616773.82
ΔΙΕΥΘΥΝΣΗ ΤΕΧΝΙΚΩΝ ΕΡΓΩΝ ΠΕΡΙΦΕΡΕΙΑΣ ΘΕΣΣΑΛΙΑΣ          NaN   5331402.78
ΥΠΑΑΤ Ε.Υ.Δ. Π.Α.Α. ΜΟΝΑΔΑ Δ΄                    3160749.17   3311463.07
ΔΑΣΑΡΧΕΙΟ ΔΙΔΥΜΟΤΕΙΧΟΥ                                  NaN   3297824.64

In [23]:
df[df['recipient_name'].notnull()].groupby('year').size()

year
2014    682681
2015    892628
dtype: int64

In [24]:
df[df['recipient_name'].isnull()].groupby('year').size()

year
2014    392003
2015    403994
dtype: int64

In [19]:
df.groupby(['recipient_id', 'year']).size().unstack().sum()

year
2014    1074684.0
2015    1296622.0
dtype: float64

In [16]:
df[df['year'] == 2014].to_csv('gr_2014.csv', index=False, encoding='utf-8')
df[df['year'] == 2015].to_csv('gr_2015.csv', index=False, encoding='utf-8')